/* landing page */
body.landing-page {
    background: #f5f5f5;
}

.header {
    padding: 16px;
    box-shadow: 0px 4px 20px 0px #32323240;
    z-index: 1;
    position: relative;
    background: #ffffff;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 20%;
    height: 100%;
}

.header .login a {
    background: #00244B;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 60px;
    border-radius: 100px;
}

.banner1 {
    background: #ffffff;
    padding: 10px;
}

.banner {
    background-image: url(/image/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.banner .overlay {
    background: linear-gradient(270deg, rgba(0, 36, 75, 0.6) -0.92%, #00244B 83.42%);
    padding: 130px 0;
    border-radius: 10px;
}

.banner .title {
    width: 70%;
}

.banner h3 {
    color: #FFB200;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}

.banner h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.banner p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.tentang-kami {
    padding: 50px 0;
    text-align: center;
    background: #FFFFFF;
    border-radius: 0 0 150px 150px;
}

.tentang-kami h4 {
    color: #5A0010;
    background: #5A00101A;
    padding: 10px;
    width: 20%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
}

.tentang-kami p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

.tentang-kami p span {
    color: #5A0010;
    font-weight: 700;
    font-size: 18px;
}

.fitur {
    padding: 90px 0;
}

.fitur ul {
    list-style: none;
    padding: 0;
}

.fitur i {
    font-size: 50px;
    color: #5A0010;
}

.fitur h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

.fitur p {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
}

.footer {
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    border-radius: 150px 150px 0 0;
}

.footer p {
    margin: 0;
}

/* login */
body.login {
    background: #00244B1A;
    padding-top: 70px;
}

.form-login .logo {
    width: 35%;
    height: 100%;
}

.form-login form {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto
}

.form-login form ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.form-login form h3 {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.form-login form h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.form-login p {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

.form-login label {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

.form-login input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #f2f2f2;
}

.form-login .ingat-saya input {
    width: 10%;
}

.form-login .ingat-saya span {
    width: 80%;
    text-align: left;
}

.form-login .ingat-saya {
    display: flex;
    align-items: center;
    width: 50%;
}

.form-login ul li a {
    color: #00244B;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.form-login label {
    text-align: left !important;
    display: block;
    margin-bottom: -20px;
}

.form-login button {
    background: #00244B;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

/* main style */
.main-header {
    background: #00244B;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    margin-bottom: 50px;
}

.logo {
    height: 45px;
}

.menu-tengah {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-link {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
}


.avatar-wrapper {
    position: relative;
    top: 20px;
}

.avatar-circle {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border: 10px solid #00244B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle i {
    font-size: 36px;
    color: #00244B;
}

.logout-btn {
    color: #ffffff;
    font-size: 22px;
}

.home-btn {
    background: #ffffff;
    padding: 10px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.home-btn i {
    color: #06294D;
    font-size: 20px;
}

.footer {
    background: #00244B;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* dashboard siswa */
.info {
    margin-top: 60px;
}

.profile-sec {
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px 20px 10px 20px !important;
}

.profile-sec .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-sec .profile img {
    width: 15%;
    height: 100%;
    border-radius: 100%;
}

.profile-sec .profile h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.profile-sec ul li {
    margin-bottom: 10px !important;
    padding-bottom: 20px !important;
}

.profile-sec ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    column-count: 2;
}

.profile-sec label {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-sec input {
    border: 1px solid #D0D3D9;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info .summary-card ul li {
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.info .isi i {
    background: #00244B;
    color: #FFB200;
    padding: 10px;
    border-radius: 100%;
}

.info .isi h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.info .title {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    width: 70%;
}

.info span {
    background: #00244B;
    color: #FFB200;
    padding: 5px 10px;
    border-radius: 20px;
}

.info .isi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .isi h1 {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.info .isi p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

.info .isi:last-child {
    margin-top: 15px;
}

.konseling-bulanan {
    padding: 50px 0;
    ;
}

.title-body h3 {
    color: #5A0010;
    background: #5A00101A;
    padding: 5px;
    width: 15%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.title-body h1 {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.konseling-bulanan table .selesai {
    background: #EBF9F1;
    color: #1F9254;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
}

.konseling-bulanan .tabel {
    margin-top: 30px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.konseling-bulanan table {
    width: 100%;
    border-collapse: collapse;
}

.konseling-bulanan thead {
    background: #00244B;
}

.konseling-bulanan thead th {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 20px;
}

.konseling-bulanan tbody td {
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.konseling-bulanan tbody tr {
    border-bottom: 1px solid #EDEDED;
}

.konseling-bulanan tbody tr:nth-child(even) {
    background: #F2F4F7;
}

.konseling-bulanan table .menunggu {
    background: #FFF4E5;
    color: #F2994A;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 20px;
    display: inline-block;
}

.konseling-bulanan p {
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.konseling-bulanan .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.konseling-bulanan .number {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    background: #00244B;
    padding: 5px 10px;
    border-radius: 5px;
}

.aksi-cepat ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.aksi-cepat a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.aksi-cepat ul li {
    background: #00244B;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

/* pengajuan */
.form-pengajuan{
    background: #f2f2f2;
    border-radius: 10px;
    padding: 10px 20px !important;
}

.form-pengajuan label{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.form-pengajuan input{
    border: 1px solid #D0D3D9;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.flatpickr-calendar.inline {
    display: block;
    position: relative;
    top: 2px;
    width: 100%;
}

.flatpickr-rContainer {
    display: inline-block;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.dayContainer {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}